* {
    /* This ensures the borders are incorporated into any sizing properties */
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    border-color: black;
    border-style: solid;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}